@page "/"
@using Humanizer
@using Aspiregregator.Frontend.ViewModels
@inject ISourceProvider SourceProvider 

<PageTitle>Aspiregregator</PageTitle>

<h1>Recent Updates</h1>
<p>Here is a list of recent updates across your feeds.</p>
<FluentDataGrid Items="@viewModel?.EntryItems" TGridItem="EntryItemViewModel" ResizableColumns="true">
    <TemplateColumn TGridItem="EntryItemViewModel" Width="10%" Title="Updated">
        <div>@context.DisplayDate.Humanize()</div>
    </TemplateColumn>
    <PropertyColumn Property="@(p => p.Source)" Sortable="false" Width="25%" />
    <TemplateColumn TGridItem="EntryItemViewModel" Title="Title">
        <a target="_blank" href="@context.Link">@context.Title</a>
    </TemplateColumn>
</FluentDataGrid>

@code
{
    HomePageViewModel? viewModel;

    protected override async Task OnInitializedAsync()
    {
        viewModel = new HomePageViewModel(SourceProvider);
        await viewModel.RefreshAsync();
    }
}
